//////////////////////////////
/// COLORS
//////////////////////////////
$color-primary-1: hsl(236, 72%, 79%);
$color-primary-2: hsl(237, 63%, 64%);

$color-neutral-1: hsl(240, 78%, 98%);
$color-neutral-2: hsl(234, 14%, 74%);
$color-neutral-3: hsl(233, 13%, 49%);
$color-neutral-4: hsl(232, 13%, 33%);

//////////////////////////////
/// RESET
//////////////////////////////
* {
	box-sizing: inherit;
	font-family: inherit;
	padding: 0;
	margin: 0;
}

//////////////////////////////
/// GENERAL STYLES
//////////////////////////////
html {
	font-family: "Montserrat", sans-serif;
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-size: 1.5rem;
	background: url(../images/bg-top.svg) no-repeat no-repeat top right,
		url(../images/bg-bottom.svg) no-repeat no-repeat bottom left;
}

//////////////////////////////
/// HEADER
//////////////////////////////
header {
	margin: 6.4rem auto;
	text-align: center;

	.wrapper {
		margin-top: 3.2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2.4rem;
		color: $color-neutral-2;
	}

	span {
		transition: all 0.1s ease;
	}

	.annually--active,
	.monthly--active {
		color: $color-primary-1;
	}

	.toggle {
		width: 4rem;
		background-color: rosybrown;
		padding: 0.3rem;
		border-radius: 10rem;
		background: linear-gradient(to right, $color-primary-1, $color-primary-2);
		cursor: pointer;
		transition: all 0.1s ease;

		display: flex;
		justify-content: flex-end;

		&:hover {
			opacity: 0.7;
		}

		.dot {
			width: 1.6rem;
			height: 1.6rem;
			background-color: $color-neutral-1;
			border-radius: 50%;
			transition: all 0.1s ease;
		}

		.dot--move {
			transform: translateX(-1.8rem);
		}
	}
}

//////////////////////////////
/// TYPOGRAPHY
//////////////////////////////
.header-1 {
	color: $color-neutral-3;
	font-size: 3.2rem;
}

.header-2 {
	font-size: 1.8rem;
	color: $color-neutral-3;
}

//////////////////////////////
/// CARD
//////////////////////////////

// container for cards
main {
	margin: 0 auto;
	max-width: 120rem;
	display: flex;
}

.card {
	flex-basis: 33%;
	border-radius: 1rem;
	padding: 3.2rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	text-align: center;

	&__price {
		margin: 2.4rem auto 3.2rem auto;
		font-size: 6rem;
		color: $color-neutral-4;
	}

	&__feature {
		padding: 2.4rem 0;
		color: $color-neutral-3;

		&:nth-child(odd) {
			border-top: 1px solid hsl(0, 0%, 91%);
			border-bottom: 1px solid hsl(0, 0%, 91%);
		}
	}

	&__link {
		&:link,
		&:visited {
			display: block;
			margin-top: 3.2rem;
			padding: 1.2rem 0;
			border-radius: 0.5rem;
			border: 1px solid transparent;
			background: linear-gradient(to right, $color-primary-1, $color-primary-2);
			text-decoration: none;
			text-transform: uppercase;
			color: $color-neutral-1;
			letter-spacing: 2px;
			font-size: 1.4rem;
			cursor: pointer;
			transition: all 0.1s ease;
		}

		&:hover,
		&:active {
			background: #fff;
			color: $color-primary-2;
			border: 1px solid #000;
		}
	}
}
